# Debugging Exercise: Population Growth
We want to plot the population growth of a few selected countries.

The CSV file contains the population in millions.

**Fix five bugs in the analysis.**

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('population.csv', sep=';')
df.head()

,country,1900,1910,1920,1930,1940,1949,1950,1951,1952,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,5.021,5.351,5.814,NaN,7.034,NaN,7.752,7.839,7.935,...,25.184,25.878,26.529,27.207,27.962,28.809,29.727,30.682,31.628,32.527
1,Algeria,4.946,5.404,6.064,6.876,7.797,NaN,8.872,9.040,9.216,...,33.749,34.262,34.811,35.402,36.036,36.717,37.439,38.186,38.934,39.667
2,Angola,2.898,3.137,3.388,3.642,3.920,NaN,4.355,4.440,4.529,...,18.541,19.184,19.842,20.520,21.220,21.942,22.686,23.448,24.228,25.022
3,Argentina,4.757,6.853,8.885,11.898,14.201,NaN,17.150,17.507,17.866,...,39.559,39.970,40.382,40.799,41.223,41.656,42.095,42.538,42.980,43.417
4,Australia,3.744,4.408,5.345,6.474,7.052,NaN,8.177,8.418,8.627,...,20.606,20.976,21.370,21.771,22.163,22.542,22.911,23.270,23.622,23.969

In [9]:
# drop empty column
del df['1949']

KeyError: '1949'

In [ ]:
# drop rows with missing data
df.dropna(inplace=True)

In [ ]:
df = df.set_index('country', inplace=True)
df.head()

In [ ]:
countries = df.loc['Argentina', 'Ukraine', 'Vietnam', 'Zimbabwe']
countries

In [ ]:
# tilt the table by 90Â°
timeline = countries.transpose()
timeline.head()

In [ ]:
# why is this a terrible plot?
timeline.plot()